<p>
    <b>Two pieces of information are needed in order to use this 
        thalassaemia screening app: </b>
</p>
<p>
    <br>
    1. Family history of a known thalassaemia case <br><br>
    2. Red blood cell parameters: <br>
    • Haemoglobin level (g/dL) <br>
    • Mean corpuscular haemoglobin value (pg) <br>
    • Mean corpuscular volume value (fL) <br>
    •Red blood cell count (x 10^12 /L) <br>
</p><br>
<button [routerLink]="['/family']">Enter</button>

<br><br>
<p style="color: blueviolet;"><b><i>This application is made as a guide to when 
    thalassaemia diagnostic test (haemoglobin analysis) 
    is indicated. We are not responsible for any errors or 
    omissions, or for the results obtained from the use Of 
    this application. </i></b>
    
</p>
